@media screen and (min-width: 640px) and (max-width: 1024px) {
  .header-container {
    flex-direction: column;
  }
  .nav-menu {
    max-width: 100%;
    justify-content: center;
    border-bottom: 1px solid purple;
    padding: 10px;
  }
  .follow {
    max-width: 50%;
  }
  .logo {
    height: 20%;
    width: 15%;
    padding-right: 10px;
  }
  .article-container {
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 0;
    margin-top: 150px;
    margin-bottom: 20px;
  }
  .article-aside-2 {
    width: 50%;
  }
  .article-aside-2 img {
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }
  .article-aside {
    max-width: 50%;
    font-size: 1rem;
    text-align: left;
    padding-left: 0px;
  }
  .article-aside h1 {
    font-size: 1.5rem;
  }
  .goat {
    font-size: 2.5rem;
  }
  .article-aside ul > li {
    font-size: 1rem;
  }
  .btn-1 {
    font-size: 0.8rem;
    padding: 10px;
  }
  .btn-2 {
    font-size: 0.8rem;
    padding: 10px;
  }
  .card-container{
    font-size: 1rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main section article > h1 {
    font-size: 1.8rem;
  }
  .card-container > h1 {
    font-size: 2rem;
    padding: 10px 0px;
  }
  .main section article > h2 {
    font-size: 0.7rem;
  }
  .card{
    padding: 10px;
  }
  .poster-container{
    max-width: 100%;
  }
.poster-1{
  height: 100%;
  width: 100%;
}

  .poster-2{
    position: relative;
   left:-280px;
   bottom:0px;
   top:50px;

   height: 40%;
   width: 30%;
 }
 .career{
  margin:100px 0px;
  padding:20px;
  font-size: 0.7rem;
 }
 .btn-3{
  font-size: 0.7rem;
  padding:10px
 }
 .child-image{
  max-width: 60%;
  margin-left:0px;
 }
 .child-img{
  padding:0px;
 }
 .game-section{
  grid-template-columns: repeat(3,1fr);
  font-size: 1rem;
 }
 
}
