@media screen and (max-width:640px) {
   
        .header-container ,  .nav-menu{
            flex-direction: column;
            gap:20px;
          
          
        }
        .icons{
           height: 10%;
           width: 10%;
        }
        .nav-menu{
            max-width: 100%;
            
        }
        .follow{
            flex-direction: row;
            max-width: 100%;
            padding:7px;
           
            justify-content:center;
            gap:20px ;
            
            
           
        }
        .logo{
            height: 20%;
            width: 15%;
            padding-right: 10px;
        }
        .logo-container{
            justify-content: start;
            position: relative;
            right:30px;
            max-width: 100%;
            
        }
        .article-container{
            flex-direction: column-reverse;
            margin-top:100px ;
            margin-bottom: 20px;
         height: auto;
          max-width: 100%;
         justify-content: center;
         align-items: center;
         text-align: center;
         padding:0px;
        

         }
         
         .article-aside-2 img{
            height:100%;
            width: 100%;
            
         }
         .article-aside h1{
            font-size: 2rem;
            
         }
         .goat{
            font-size:3.5rem;
         }
         .article-aside{
          text-align: center;
            max-width: 100%;
           justify-content: center;
           align-items: center;            padding: 80px 30px ;
           margin: 0px auto;
            
         }
        
         .goat ul li{
            font-size: 0.7rem;
            text-align: center;
         }
         .btn-1{
            font-size: 0.8rem;
            padding:10px;
            
         }
         .btn-2{
            font-size: 0.8rem;
            padding:10px
         }
         .article-container-2{
            flex-direction: column;
           max-width: 100%;
         }
         .article-left > img{
            height: 110%;
            width: 110%;
         }
         .article-right{
            text-align: center;
            width: 100%;
            justify-content: center;
            align-items: center;
            font-size: 0.7rem;
         }
         .cards{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap:10px
         }
         .card-container{
            margin: 10px 0px;
            max-width: 100%;
            text-align: center;
            font-size: 0.7rem;
            padding: 10px;
         }
         .cards{
            max-width: 80%;
            margin: 0 auto;
           padding:0px;
         }
         main section article >h1 {
            text-align: center;
            font-size: 2rem;
         }
         main section article >h2{
            font-size: 1rem;
         }
         .card-container >h1 {
            font-size: 2rem;
         }
         .card{
            padding: 10px;
         }
         
         







    }